



.p_one {
	font-size: 18px;
	color: #666;
	line-height: 18px;
	height: 18px;
}

.p_two {
	font-size: 12px;
	color: #aaa;
	margin: 10px 0 20px;
}


.p_three,.p_four,.p_five {
	font-size: 12px;
	color: #333;
}

.p_four {
	margin: 17px 0;
}

.p_five span {
	color: #e31f27;
}

.invitor {
	width: 100%;
	padding: 143px 0 168px 0;
	background: #fff;
}

.invitor_li {
	float: left;
	width: 296px;
	height: 211px;
	border: 1px solid #cfcfcf;
	padding:30px 0 0 40px;
}

.invitor_li_one {
	margin-left: 59px;
}

.invitor_li_two {
	margin: 0 38px;
}


