.invitor {
	padding: 50px 30px 148px 30px;
	background: #fff;
}

.question_li {
	font-size: 14px;
	color: #333;
	margin-bottom: 87px;
	background: #f8f8f8;
	padding: 20px 0;

}

.question_question {
	font-size: 24px;
}

.question {
	padding: 0 22px;
}

.result {
	display: none;
	border-top: 1px solid #dedede;
	margin-top: 20px;
	padding: 24px  22px 0 71px;
	line-height: 30px;
	position: relative;
}

.question_question_result {
	position: absolute;
	left: 22px;
	top: 22px;
}
.show_img {
	float: right;
	cursor: pointer;
}




